<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/uikit.min.css">
	<title>newsapi</title>
</head>
<body style="min-width: 320px;">

<div id="app" class="uk-container uk-margin-top">
	<div class="uk-flex uk-margin-bottom">
		<input type="text" class="uk-input" placeholder="Введите текст..." v-model="query" @keydown.enter="getData">
		<select class="uk-select uk-form-width-xsmall" v-model="language">
			<option v-for="language in languages" :value="language">{{ language }}</option>
		</select>
		<button class="uk-button uk-button-default" @click="getData">Поиск</button>
	</div>
	<card v-for="article in articles" :article="article"></card>
	<ul class="uk-pagination uk-flex-center uk-margin-large-bottom" uk-margin v-if="articles.length">
	    <li><a class="uk-padding-small" href="#" @click.prevent="switchPage(-1)"><span uk-pagination-previous></span></a></li>
	    <li v-for="num in 5" :class="{'uk-text-bold': page === num}" class="uk-visible@s">
	    	<a @click.prevent="switchPage(0, num)" class="uk-padding-small" href="#">{{ num }}</a>
	    </li>
	    <li class="uk-hidden@s uk-flex uk-flex-middle">
	    	<span class="uk-text-bold">{{ page }}</span>
	    </li>
	    <li><a class="uk-padding-small"	 href="#" @click.prevent="switchPage(1)"><span uk-pagination-next></span></a></li>
	</ul>
</div>

<template id="card">
	<div class="uk-card uk-card-small uk-card-default uk-margin-bottom">
	    <div class="uk-card-header">
	        <div>
	            <div class="uk-label">{{ article.source.name }}</div>
	            <div class="uk-text-meta uk-margin-small-left uk-inline-block">{{ date().getFullYear() }} / {{ date().getMonth() + 1 }} / {{ date().getDate() }}</div>
	            <h4 class="uk-margin-remove-botto uk-margin-top">
	            	<a :href="article.url" target="_blank" class="uk-link-text uk-margin-small-top uk-display-block">{{ article.title }}</a>
	        	</h4>
	        </div>
	    </div>
	    <div class="uk-card-body">
	        <p v-html="article.description"></p>
	        <a :href="article.url" target="_blank" class="uk-button uk-button-text">Читать далее</a>
	    </div>
	</div>
</template>

<script src="js/vue.min.js"></script>
<script src="js/uikit.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>