<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/uikit.min.css">
	<title>newsapi</title>
</head>
<body style="min-width: 320px;">

<div id="app" class="uk-container uk-margin-top">
	<card v-for="article in articles" :article="article"></card>
	<ul class="uk-pagination uk-flex-center uk-margin-large-bottom" uk-margin>
	    <li><a class="uk-padding-small" href="#" @click.prevent="switchPage(-1)"><span uk-pagination-previous></span></a></li>
	    <li v-for="num in 5" :class="{'uk-text-bold': page === num}"><a @click.prevent="switchPage(0, num)" class="uk-padding-small" href="#">{{ num }}</a></li>
	    <li><a class="uk-padding-small"	 href="#" @click.prevent="switchPage(1)"><span uk-pagination-next></span></a></li>
	</ul>
</div>

<template id="card">
	<div class="uk-card uk-card-small uk-card-default uk-margin-bottom">
	    <div class="uk-card-header">
	        <div class="uk-flex-middle uk-flex-between" uk-grid>
	            <h4 class="uk-margin-remove-bottom">
	            	<div class="uk-label">{{ article.source.name }}</div>
	            	<a :href="article.url" target="_blank" class="uk-link-text uk-margin-small-left">{{ article.title }}</a>
	        	</h4>
	            <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">{{ date().getFullYear() }} / {{ date().getMonth() + 1 }} / {{ date().getDate() }}</time></p>
	        </div>
	    </div>
	    <div class="uk-card-body">
	        <p v-html="article.description"></p>
	        <a :href="article.url" target="_blank" class="uk-button uk-button-text">Читать далее</a>
	    </div>
	</div>
</template>

<script src="js/vue.min.js"></script>
<script src="js/uikit.min.js"></script>
<script>
	var card = Vue.component("card", {
		props: ["article"],
		methods: {
			date() {
				return new Date(this.article.publishedAt)
			}
		},
		template: "#card"
	})

	var app = new Vue({
		el: "#app",
		data: {
			query: "javascript",
			language: "ru",
			page: 1,
			articles: null
		},
		computed: {
			url() {
				return `https://newsapi.org/v2/everything?apiKey=9e55d5d601f04394bd91da411dbdf09e&q=${this.query}&language=${this.language}&page=${this.page}`;
			}
		},
		methods: {
			getData() {
				fetch(this.url).then(
					response => response.json()
				).then(
					data => {
						this.articles = data.articles
					}
				)
			},
			switchPage(direction, page) {
				if(page) {
					this.page = page;
					this.getData();

					return false;
				}

				this.page += direction;
				
				if(this.page < 1) {
					this.page = 1;
					return false;
				}

				if(this.page > 5) {
					this.page = 5;
					return false;
				}

				this.getData();
			}
		},
		created() {
			this.getData();
		}
	})
</script>

</body>
</html>